<section>
	<aside></aside>
	<article>
		<hr>
		<sergey-import src="posts/<sergey-slot />.md" as="markdown" />
	</article>
</section>

<sergey-import src="components/footer" />

<script>
	(function(d, w) {
		if (d.getElementById("themes")) {
			const mq = window.matchMedia('(min-width: 62em)');
			mq.addEventListener('change', mqHandler);

			function mqHandler(e) {
				if (e.matches) {
					d.querySelectorAll('a[href="#themes"').forEach(el => {
						el.setAttribute("href", "#");
					});
				} else {
					   d.querySelectorAll('a[href="#"').forEach((el) => {
            			el.setAttribute("href", "#themes");
          			});
				} 
			}
			mqHandler(mq)
		}
	})(document, window);
</script>