---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro"
import Contact from "@/components/Contact.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import Work from "@/components/Work.astro";
---

<Layout>
	<Hero/>
	<Work/>
	<Posts/>´
	<Projects/>
	<Contact/>
<h1>Home Page</h1>
</Layout>