---
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <Head />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
